{% extends 'base.html.twig' %}

{% block title %}Histoire{% endblock %}

{% block monTitre %}Histoire du Village{% endblock %}

{% block body %}
<section class="container">
    <h2>L'origine du Village:</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, quibusdam laborum! Cum et maiores nesciunt
        temporibus quae, magni, ut tenetur optio harum dolorum tempore reprehenderit esse facilis pariatur non
        blanditiis?
        <img src="images/histoire/histoire2.jpg" alt="histoire" class="imgHisto">
        Quam inventore a, repudiandae cupiditate sint labore? Ex culpa suscipit nulla unde minima laudantium aliquam
        adipisci! Vel, architecto tenetur est illo maxime cumque, recusandae ducimus neque sapiente dolore, consequuntur
        saepe.
        Dolorum nesciunt excepturi placeat, harum magni ullam dolore expedita similique accusamus quis molestias,
        nostrum maxime repellat asperiores rem, distinctio vitae quo minus impedit consequatur qui perspiciatis vel. In,
        commodi minus.
        Amet ipsum aspernatur obcaecati, laborum praesentium ipsa quas blanditiis dignissimos minus dolores natus.
        Dolorem quaerat id asperiores quo at numquam perspiciatis cum, inventore, earum et autem provident culpa neque
        ipsam!
        Impedit aut magni, voluptatem delectus deleniti ex accusamus quisquam! Eligendi porro nesciunt non perspiciatis
        tempora inventore? Ipsam, quam deleniti tempore, alias nihil officia veniam repudiandae similique, magnam quod
        doloribus molestias!
        Rerum error odio voluptatum dignissimos numquam eaque ipsum, blanditiis perferendis earum voluptate modi ratione
        porro assumenda maiores repudiandae accusantium iste laudantium, asperiores nostrum consequatur minus eum
        praesentium neque? Laudantium, eveniet.
    </p>

    <h2>Patrimoine du Village:</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, nam sapiente! Architecto odit mollitia
        impedit ea minus ipsum, natus doloribus tempore autem voluptatibus excepturi, quam cumque inventore! Odit, modi
        repellendus?
        Temporibus, ducimus eveniet praesentium maiores possimus voluptatem a aperiam minus iusto tempora laudantium
        beatae vel consectetur tempore voluptas asperiores omnis, nobis soluta animi repellendus. Dolore quae ducimus
        nulla optio consectetur.
        <img src="images/histoire/histoire.jpg" alt="histoire" class="imgHisto1">
        Perspiciatis molestias consectetur consequatur, libero soluta repellat facilis vel temporibus eaque inventore
        labore reprehenderit! Omnis laboriosam accusantium beatae expedita adipisci ullam hic, ipsum a ea amet vel
        consectetur quas aspernatur.
        Voluptates, veniam. Ipsa iusto error hic consequatur odio, illum eveniet, sunt quod deleniti culpa assumenda
        amet, tempora quas. Maiores voluptates nulla obcaecati illo perspiciatis harum earum natus magni sequi commodi?
        Aperiam incidunt exercitationem, eligendi omnis quod iure illum distinctio dolore cum sequi reprehenderit,
        veritatis consequuntur vitae animi maxime et quis odit architecto soluta? At, ab enim harum perferendis aliquam
        mollitia?
        Error, minima. Fugiat unde ducimus cum est rerum recusandae cupiditate fugit repellat eius? Voluptas quas,
        repellendus eius officiis temporibus saepe, doloremque consequatur nulla deleniti amet, eaque exercitationem
        dolore quibusdam dignissimos.
    </p>

    <h2>Faits Historique</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab autem molestias, saepe aspernatur eveniet doloribus
        aliquid nemo praesentium quia animi earum, fuga porro quam explicabo adipisci sit illum laborum veritatis.
        Rerum est ipsa, rem illum deleniti natus cumque alias doloremque sed totam, quod repellendus excepturi
        perferendis officia! Minima, quis. Velit dicta modi possimus rerum, incidunt libero laboriosam delectus aliquam
        nesciunt.
        Voluptatum deleniti magni adipisci eaque unde fuga repudiandae obcaecati inventore expedita velit cum quas
        necessitatibus minima odio illo accusamus possimus, nesciunt sint ipsa facere porro ipsam sunt similique sed!
        Cum.
        Molestias debitis modi vitae excepturi obcaecati? Nemo modi et officiis doloremque. Sapiente quidem, accusamus
        commodi magni nam distinctio, eos numquam optio modi explicabo
        ducimus perspiciatis porro facilis. Expedita, voluptates architecto!</p>
</section>

{% endblock %}