{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block monTitre %}
Login
{% endblock %}
{% block body %}
<div class="container d-flex justify-content-center">
    <div class="card card2 mb-5">
        <div class="card-header text-center">
            <h3><i class="fas fa-lock"></i> Login Admin</h3>
        </div>
        {% if error %}
    <div class="alert alert-danger">
        Erreur! Vous vous êtes trompé dans votre mot de passe ou Pseudo!
    </div>
    {% endif %}
        <div class="card-body">
            <form action="{{path('login')}}" method="POST">

                <div class="form-group">
                    <label>Votre Login :</label>
                    <input type="text" required name="_username" class="form-control" value="{{lastUserName}}" placeholder="Saisir un nom ou pseudo">
                </div>
                <div class="form-group">
                    <label>Mot de passe :</label>
                    <input type="password" required name="_password" class="form-control" placeholder="saisissez votre mot de passe">
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="s'identifier">
                </div>

            </form>
            <p class="mt-5 text-center"><a href="{{path('accueil')}}">Retour à l'accueil</a></p>
        </div>
    </div>
</div>
{% endblock %}